body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
.cancelada{
    background-color: red;
}
.pendiente{
    background-color: blue;
}
.hecho{
    background-color: green;
}
.haciendo{
    background-color: orange;
}